<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label>Firebase ID</label>
            <input type="text" class="form-control" placeholder="Firebase ID" name="id" [(ngModel)]="carrera.id" disabled="disabled">
            <small class="form-text text-muted">Este campo es autogenerado</small>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label><b>Nombre: </b></label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="carrera.nombre">
        </div>
    </div>
</div>