<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label>Firebase ID</label>
            <input type="text" class="form-control" placeholder="Firebase ID" name="id" [(ngModel)]="grupo.id" disabled="disabled">
            <small class="form-text text-muted">Este campo es autogenerado</small>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label><b>Nombre: </b></label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="grupo.nombre" required>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label><b>Carrera: </b></label>
            <select name="carrera" class="form-control" [(ngModel)]="grupo.carrera" required>
                <option *ngFor="let career of carreras; let i = index" [ngValue]="carreras[i]">{{ carreras[i].nombre }}</option>
            </select>
        </div>
    </div>
</div>